.button{

    background-color:#1a1c20;
    border-radius:5px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    padding:8px 20px;
    text-decoration:none;
    width: 50;
    
}

.button:hover {
    background-color:#f4f4f4;
    color: #1a1c20;
}

.button:active {
    position:relative;
    top:1px;
}

        
.container_vignettes
{
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}


.annonce_vignette  
{
  background-color: #f1f1f1;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}


.image_vignette
{
    width: 100%;
    margin: auto;
}


.titre_vignette 
{
    font-size: 22px;
} 

.description_vignette
{
    font-size: 14px;
}
